[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/planbmail
[access "refs/for/refs/*"]
	read = group user/planbmail
	push = group user/planbmail
	label-Code-Review = -2..+2 group user/planbmail
	label-Verified = -1..+1 group user/planbmail
	rebase = group user/planbmail
	removeReviewer = group user/planbmail
	submit = group user/planbmail
[access "refs/heads/*"]
	read = group user/planbmail
	create = group user/planbmail
	push = +force group user/planbmail
	pushMerge = group user/planbmail
[access "refs/tags/*"]
	push = +force group user/planbmail
	pushTag = group user/planbmail
	pushSignedTag = group user/planbmail
